<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/styles.css" />
    <title>Chone Chapati</title>
  </head>
  <body>
    <header>
      <h1>Welcome to Chone Chapati</h1>
    </header>

    <img
      src="/images/chone_chapati_Resturant.png"
      alt="/images/chone_chapati_Resturant.png"
    />
    alt="Delicious Chapati" class="homepage-image" />

    <div class="flavors">
      <h2>Our Flavors</h2>
      <img src="images/chone_menu.png"
           alt="images/chone_menu.png" />
      <img src="images/chone_menu_2.png"
           alt="images/chone_menu_2.png" />
    </div>

    <footer>
      <p>&copy; 2025 Chone Chapati. All rights reserved.</p>
    </footer>
  </body>
</html>
